<sbpro-page-section _ngcontent-uha-c44="" sectionclasses="py-10 bg-light" bordertype="rounded" borderclasses="text-white" _nghost-uha-c43="">
    <section _ngcontent-uha-c43="" class="py-10 bg-light" style="    text-align: center!important;">
        <h2 class="col-12 font-large-1 text-center features">Want more Green-bots?</h2>
        <br>
        <a _ngcontent-uha-c44="" routerlink="/landings/multipurpose" style="height: 40px;
            font-size: 1.6rem;
            font-family: proxima-nova, sans-serif;
box-sizing: border-box;
cursor: pointer;
position: relative;
user-select: none;
padding-inline-end: 40px;
padding-inline-start: 40px;
min-height: 56px;
font-size: 16px;
line-height: 24px;
color: fff;
border-radius: 8px;
transition: background-color 0.15s ease-out 0s, color, opacity, border;
outline: none;
text-decoration: none;
background: rgb(242, 244, 251);
border-width: initial;
border-style: none;
border-color: initial;
border-image: initial;" class="btn btn-lg btn-primary fw-500 me-3" href="/invite" target="_blank"><img src="https://cdn.discordapp.com/avatars/783708073390112830/f4aabacb3667ba1831d3ca5f7b2e486d.png" style="height: 30px !important; border-radius: 50% !important;"> Green-bot 1
        </a>
        <a _ngcontent-uha-c44="" routerlink="/landings/multipurpose" style="height: 40px;
background-color: #1f7971 !important;
font-size: 1.6rem;
font-family: proxima-nova, sans-serif;
box-sizing: border-box;
cursor: pointer;
position: relative;
user-select: none;
padding-inline-end: 40px;
padding-inline-start: 40px;
min-height: 56px;
font-size: 16px;
line-height: 24px;
color: fff;
border-radius: 8px;
transition: background-color 0.15s ease-out 0s, color, opacity, border;
outline: none;
text-decoration: none;
background: rgb(242, 244, 251);
border-width: initial;
border-style: none;
border-color: initial;
border-image: initial;" class="btn btn-lg btn-primary fw-500 me-3" href="/invite/1" target="_blank"> <img src="https://cdn.discordapp.com/avatars/902201674263851049/e07fc00c355d596960458ff206c806be.png" style="height: 30px !important; border-radius: 50% !important;">Green-bot 2
        </a>
        <a _ngcontent-uha-c44="" routerlink="/landings/multipurpose" style="height: 40px;
        background-color: #84207F !important;
font-size: 1.6rem;
font-family: proxima-nova, sans-serif;
box-sizing: border-box;
cursor: pointer;
position: relative;
user-select: none;
padding-inline-end: 40px;
padding-inline-start: 40px;
min-height: 56px;
font-size: 16px;
line-height: 24px;
color: fff;
border-radius: 8px;
transition: background-color 0.15s ease-out 0s, color, opacity, border;
outline: none;
text-decoration: none;
background: rgb(242, 244, 251);
border-width: initial;
border-style: none;
border-color: initial;
border-image: initial;" class="btn btn-lg btn-primary fw-500 me-3" href="/invite/2" target="_blank"><img src="https://cdn.discordapp.com/avatars/906246223504240641/f80e96cf6e75a9af5aa97974ad5f9482.png" style="height: 30px !important; border-radius: 50% !important;">Green-bot 3
        </a>


        </div>
        </div>
        <sbpro-border _ngcontent-uha-c43="" _nghost-uha-c41="">
            <div _ngcontent-uha-c41="" class="svg-border-rounded text-white"><svg _ngcontent-uha-c41="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path _ngcontent-uha-c41="" d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg></div>
            <!---->
            <!---->
            <!---->
        </sbpro-border>
    </section>
</sbpro-page-section>