<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name=keywords content="Dipper bot, bot, discord, discord.js, bot, MEE6, Koya, dashboard, configuration">
    <meta name=author content=squarfiuz>
    <meta name=theme-color content=#e97e40>
    <meta property=og:type content=website>
    <meta property=og:title content="Dipper Bot - The Discord Bot">
    <meta property=og:description content="Manage your Support Server with leveling, moderation, welcome, fun.">
    <meta property=og:image content=https://cdn.discordapp.com/avatars/867849238803906571/1e6a318efc76f1400f700f6a5522c99d.png>
    <meta name=description content="Manage your Support Server with leveling, moderation, welcome, fun.">
    <meta name=twitter:image content=https://cdn.discordapp.com/avatars/867849238803906571/1e6a318efc76f1400f700f6a5522c99d.png>
    <link rel="shortcut icon" type=image/x-icon href=https://cdn.discordapp.com/avatars/867849238803906571/1e6a318efc76f1400f700f6a5522c99d.png>
    <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <script src=https://kit.fontawesome.com/89e6528a6f.js crossorigin=anonymous></script>
    <title>Dipper Bot</title>
    <link href=/static/css/app.e275c18ab96396b39d917b87b688f478.css rel=stylesheet>
</head>

<body>
    <div id=app></div>
    <script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
    <script type=text/javascript src=/static/js/vendor.3b597f71ba4796d23099.js></script>
    <script type=text/javascript src=/static/js/app.f3f69f42f21bac328a50.js></script>
</body>

</html>
<style>
    body {
        margin: 0;
        font-family: 'Whitney', sans-serif;
        background-color: #272934;
    }
</style>